.header{
    padding-inline: "50px";
    padding: "0px";
}

.layoutEdits{
    padding: 0px 10px; 
    max-width: 1400px;
    display: flex;
    justify-content: center;
    margin: 0 auto;

    
}

// mobile
@media only screen and (min-width: 576px) {
.layoutEdits {
    padding: 0px 15px; 
}
}

@media only screen and (min-width: 768px) {
.layoutEdits {
    padding: 0px 25px; 
}
}

@media only screen and (min-width: 1200px) {
.layoutEdits {
    padding: 0px 35px; 
}
}

@media only screen and (min-width: 1400px) {
.layoutEdits {
    padding: 0px 50px; 
}
}

