@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  --brand-color-white: #fff;
  --brand-color-gray: #6E7581;
  --brand-color-lightGray: #6e75817d;
  --brand-color-black: #111825;
  --brand-font-style: 'Inter', sans-serif;
}

